{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "customPath": ".\/vendor\/bin\/phpspec"
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}